Préparation du rendez-vous service du client (disponibilité de la pièce de rechange, ressource atelier, informations techniques, historique service……).
Réception du client selon les standards en application.
Confirmation des travaux à entreprendre avec le client et établissement de l’ordre de réparation.
Mise à jour de la base de données du client (Adresse, e-mail, N° de téléphone……).
Suivi des réparations en cours avec les collaborateurs atelier.
Coordination avec le client sur l’avancement des travaux de maintenance et/ou de réparation.
Préparation de la livraison du véhicule au client.
Explication au client des travaux exécutés (main-d’oeuvre et pièce de rechange).
Facturation du dossier de réparation.
Livraison du véhicule au client.